## Preprocessing

In [1]:
# Importing the necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

# Read the data from charity_data.csv
url = "https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df.drop(columns=["EIN", "NAME"], inplace=True)

In [4]:
# Determine the number of unique values in each column.
unique_counts = df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = df["APPLICATION_TYPE"].value_counts()
print(app_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff = 500
application_types_to_replace = list(app_counts[app_counts < app_cutoff].index)

# Replace in the dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_counts = df["CLASSIFICATION"].value_counts()
print(class_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = df["CLASSIFICATION"].value_counts()[df["CLASSIFICATION"].value_counts() > 1]
print(class_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1000
classifications_to_replace = list(class_counts_gt1[class_counts_gt1 < class_cutoff].index)
# Replace in the dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df)

In [11]:
# Split our preprocessed data into our features and target arrays
X = df.drop(columns=["IS_SUCCESSFUL"])
y = df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_optimized = tf.keras.models.Sequential()

# First hidden layer
nn_optimized.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn_optimized.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_optimized.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_optimized.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                5600

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,061
Trainable params: 8,061
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn_optimized.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn_optimized.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
804/804 [==============================] - 9s 4ms/step - loss: 0.5758 - accuracy: 0.7208
Epoch 2/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5551 - accuracy: 0.7308
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5518 - accuracy: 0.7313
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5508 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5500 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5483 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7344
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5473 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5467 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5463 - accuracy: 0.7344
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5455 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5453 - accuracy: 0.7361
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7358
Epoch 14/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5446 - accuracy: 0.7367
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7352
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5431 - accuracy: 0.7371
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7380
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5422 - accuracy: 0.7367
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7378
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7382
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5408 - accuracy: 0.7376
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7382
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7383
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5407 - accuracy: 0.7379
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7381
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5407 - accuracy: 0.7390
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7388
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7391
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7395
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5395 - accuracy: 0.7389
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7391
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5392 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7392
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7394
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7393
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7404
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7394
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7398
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7407
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7400

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_optimized.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5533 - accuracy: 0.7266 - 601ms/epoch - 2ms/step
Loss: 0.5532691478729248, Accuracy: 0.7266472578048706

In [17]:
# Export our model to HDF5 file
nn_optimized.save("AlphabetSoupCharity_Optimization.h5")